{% extends "base.html" %}

{% block content %}


<!-- Authenticated user to post -->
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 mb-4">
            <a href="{% url 'new_conversation' %}">
                <button type="button" class="btn btn-outline-info">Start a conversation</button>
            </a>
        </div>
    </div>
</div>
{% endif %}

<!-- Users conversation posts -->
<div class="container">
    <div class="row justify-content-center">
        {% for conversation in conversationpost_list %}
        <div class="col-10">
            <div class="card text-bg-dark mb-4">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <p class="author">Posted by: {{ conversation.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'conversation_detail' conversation.slug %}" class="highlight">
                        <h3 class="card-title">{{ conversation.title }}</h3>
                    </a>
                    {% if "placeholder" in conversation.featured_image.url %}
                        <img class="card-img" src="//:0" alt="">
                        {% else %}
                        <img class="card-img" src="{{ conversation.featured_image.url }}" alt="Coversation image">
                        {% endif %}
                    <hr/>
                    <p class="card-text h6">{{ conversation.created_on}}
                        <i class="far fa-heart"></i> {{ conversation.number_of_likes }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}