{% extends "base.html" %}

{% block content %}

<div class="col">
    <div class="row justify-content-center">
        {% for conversation in conversationpost_list %}
        <div class="col-10 col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <p class="author">Posted by: {{ conversation.author }}</p>
                        </div>
                    </div>
                    <a href="#" class="post-link">
                        <h2 class="card-title">{{ conversation.title }}</h2>
                        <p class="card-text">{{ conversation.excerpt }}</p>
                    </a>
                    {% if "placeholder" in conversation.featured_image.url %}
                        <img class="card-img-top"
                            src="//:0" alt="">
                        {% else %}
                        <img class="card-img-top" src=" {{ conversation.featured_image.url }}">
                        {% endif %}
                    <hr/>
                    <p class="card-text text-muted h6">{{ conversation.created_on}} <i class="far fa-heart"></i>
                        {{ conversation.number_of_likes }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}